body{
    background-color: #f2f2f2;
    min-height: 100vh;
    position: relative;
}

.card{
    border: none;
    box-shadow: 0 0 20px rgb(105 126 157 / 10%);
}
#main-body{
    position: relative;
}
.overlay{
    background-color: #111;
    opacity: 0.4;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.big-text{
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 5rem;
    color: #f2f2f2;
}
.img-logo{
    border-radius: 50%;
}

.margin-right{
    border-right: #888 solid 1px;
}
.margin-bottom{
    border-bottom: #888 solid 1px;
}

.bg-blue{
    background-color: darkblue;
    color: white;
}

@media screen and (max-width: 767px){
.big-text{
    font-size: 3rem;
}
}

@media screen and (max-width: 376px){
    .big-text{
        font-size: 2rem;
    }
    }
